:root {
    --teal-l-9: #f3f8f8;
    --teal-l-8: #e7f2f2;
    --teal-l-7: #dcebec;
    --teal-l-6: #d0e5e5;
    --teal-l-5: #c5dfdf;
    --teal-l-4: #b9d8d9;
    --teal-l-3: #add2d2;
    --teal-l-2: #a2cbcc;
    --teal-l-1: #96c5c6;
    --teal-0: #8bbfc0;
    --teal-d-1: #7dabac;
    --teal-d-2: #6f9899;
    --teal-d-3: #618586;
    --teal-d-4: #537273;
    --teal-d-5: #455f60;
    --teal-d-6: #374c4c;
    --teal-d-7: #293939;
    --teal-d-8: #1b2626;
    --teal-d-9: #0d1313;

    --salmon-l-9: #f8f3f3;
    --salmon-l-8: #f2e8e7;
    --salmon-l-7: #ecdcdc;
    --salmon-l-6: #e5d1d0;
    --salmon-l-5: #dfc5c5;
    --salmon-l-4: #d9bab9;
    --salmon-l-3: #d2aead;
    --salmon-l-2: #cca3a2;
    --salmon-l-1: #c69796;
    --salmon-0: #c08c8b;
    --salmon-d-1: #ac7e7d;
    --salmon-d-2: #99706f;
    --salmon-d-3: #866261;
    --salmon-d-4: #735453;
    --salmon-d-5: #604645;
    --salmon-d-6: #4c3837;
    --salmon-d-7: #392a29;
    --salmon-d-8: #261c1b;
    --salmon-d-9: #130e0d;

    --green-l-9: #f3f8f6;
    --green-l-8: #e7f2ed;
    --green-l-7: #dcece4;
    --green-l-6: #d0e5db;
    --green-l-5: #c5dfd3;
    --green-l-4: #b9d9ca;
    --green-l-3: #add2c1;
    --green-l-2: #a2ccb8;
    --green-l-1: #96c6af;
    --green-0: #8bc0a7;
    --green-d-1: #7dac96;
    --green-d-2: #6f9985;
    --green-d-3: #618674;
    --green-d-4: #537364;
    --green-d-5: #456053;
    --green-d-6: #374c42;
    --green-d-7: #293932;
    --green-d-8: #1b2621;
    --green-d-9: #0d1310;

    --lila-l-9: #f8f3f5;
    --lila-l-8: #f2e7ec;
    --lila-l-7: #ecdce3;
    --lila-l-6: #e5d0da;
    --lila-l-5: #dfc5d1;
    --lila-l-4: #d9b9c8;
    --lila-l-3: #d2adbf;
    --lila-l-2: #cca2b6;
    --lila-l-1: #c696ad;
    --lila-0: #c08ba4;
    --lila-d-1: #ac7d93;
    --lila-d-2: #996f83;
    --lila-d-3: #866172;
    --lila-d-4: #735362;
    --lila-d-5: #604552;
    --lila-d-6: #4c3741;
    --lila-d-7: #392931;
    --lila-d-8: #261b20;
    --lila-d-9: #130d10;
}
