#nav-container {
    position: fixed;
    top: 0;

    width: 100%;
    text-align: center;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: var(--rgba-background-transparent-3);

    z-index: 5;
}

#links {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#links > a {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    color: var(--peter-river-600);

    padding: 1rem 2rem;
    border-bottom: .2rem solid transparent;
}
#links > a:hover,
#links > a.active {
    color: var(--background-1);
    background-color: var(--peter-river-50);

    border-bottom: .2rem solid var(--link);
}

#nav-screen {
    display: none;
}

#menu {
    display: none;
    align-self: end;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;

    padding: .5rem 0;
    margin-right: 1rem;
}

.menu-line {
    height: .3rem;
    width: 3.4rem;

    margin: .43rem;

    background-color: var(--primary-0);

    border-radius: 5px;
}

#menu:hover > .menu-line {
    background-color: var(--link-secondary);
    transition: var(--transition-slow);
}

@media only screen and (max-width: 1050px) {
    #links {
        display: none;
    }
    #nav-container {
        background-color: transparent;

        justify-content: end;
    }

    #menu {
        display: grid;
    }
    #menu.active :nth-child(1) {
        transform: rotate(45deg) translateX(.8rem) translateY(.8rem);
    }
    #menu.active :nth-child(2) {
        transform: translateX(-3rem);
        opacity: 0;
    }
    #menu.active :nth-child(3) {
        transform: rotate(135deg) translateX(-.8rem) translateY(.8rem);
    }

    #nav-screen {
        position: fixed;

        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: var(--background-2);
        opacity: 0;
        z-index: -1;
        
        transition: var(--transition-slow);
    }
    #nav-screen.active {
        /* visibility: visible; */
        opacity: 1;
        z-index: 1;
    }
    #nav-screen a {
        height: 4rem;
        width: 100%;

        display: grid;
        justify-content: center;
        align-items: center;

        color: var(--link);
    }
    #nav-screen a:hover,
    #nav-screen a.active {
        color: var(--background-1);
        background-color: var(--peter-river-50);
    }
}
